.main__wrapper {
    // background-color: yellow;
    // border: 3px dotted green;
    display: grid;
    grid-template-columns: 44% 12% 44%;
    grid-template-rows: auto;
    grid-template-areas:
    "image-one image-one image-one"
    "content-day content-day content-day"
    "image-two image-two image-two"
    "image-three image-three image-three"
    "content-come content-come content-come";
    margin-bottom: 6em;
    @include breakpoint-up('large') {
        grid-template-areas: 
        "content-day image-one image-one"
        "image-two image-two image-three"
        "image-two image-two content-come";
        grid-template-rows: auto auto 3fr;
        margin-bottom: 6em;
        gap: .9em;
        padding-left: 1em;
        padding-right: 1em;
    }
    @include breakpoint-up('xlarge') {
        gap: 1.1em;
        margin-left: 6em;
        margin-right: 6em;
    }

    .image__container {
        display: block;      
        //    height: auto;
           width: 100%;
           padding: 1em;
           margin-left: auto;
           margin-right: auto;
        //    background-color: yellow;
        @include breakpoint-up('large') {
            padding: 0;
        }

    }
    .image__mobile {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;

    }
    .image__tablet, .image__desktop {
        width: 100%;
        height: auto;
        object-fit: cover;

        display: none;
    }
    @include breakpoint-up('large') {
        .image__mobile, .image__desktop {
            display: none;
        }
        .image__tablet {
            display: block;
            // padding-left: 1em;
            // padding-top: 1em;
            // margin-right: 1em;
            margin: 0;
        }
    }
    @include breakpoint-up('xlarge') {
        .image__mobile, .image__tablet {
            display: none;
        }
        .image__desktop {
            display: block;
        }
    }

       
    .grid__content {
        padding-left: 1em;
        padding-right: 1em;
        // margin-left: 1em;
        // margin-right: 1em;
        // border: 1px solid red;
        h2 {
            margin-bottom: .2em;
            margin-top: .5em;
            // background-color: yellow;
        }
    }
    .content2 {
        background-color: $black;
        color: $white;
        margin-right: 1em;
        h2 {
            margin-top: 2em;
        }
        p {
            color: $white;
        }
    }
    
            
    
    .image1 {
        grid-area: image-one;
        @include breakpoint-up('large') {
            // margin-right: 1em;
            padding-right: 1em;
        }
    }
    .content1 {
        grid-area: content-day;
    }
    .image2 {
        grid-area: image-two;
    }
    .image3 {
        grid-area: image-three;
        @include breakpoint-up('large') {
            // margin-right: 1em;
            padding-right: 1em;
        }
    }
    .content2 {
        grid-area: content-come;
    }

}







