* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Big Shoulders Display", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100vw;
}

p {
  font-family: "Outfit", sans-serif;
  color: #151515;
}

.xl-head {
  font-size: 4em;
  font-weight: 900;
  line-height: 0.9em;
  text-transform: uppercase;
}

.l-head {
  font-size: 4.375em;
  line-height: 0.9em;
  text-transform: uppercase;
}

.m-head {
  font-size: 3.75em;
  line-height: 3.125em;
  text-transform: uppercase;
}

.s-head {
  font-size: 2.25em;
  line-height: 2.25em;
  text-transform: uppercase;
}

.m-p {
  font-size: 1.375em;
  line-height: 2em;
}

.s-p {
  font-size: 1.125em;
  line-height: 1.75em;
}

.right-button, a {
  width: 260px;
  display: flex;
  flex-direction: row;
  border: none;
  cursor: pointer;
}
.right-button .button-text, a .button-text {
  width: 85%;
  height: 72px;
  background-color: #151515;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 1em;
  align-items: center;
}
.right-button .arrow-container, a .arrow-container {
  width: 30%;
  background-color: #d5966C;
  background-image: url(../assets/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 0.4em;
  background-position: center;
}

.modern-container {
  width: 100%;
  margin: 0 auto 6em auto;
  /* TABLET TABLET TABLET view modern art 'hero' part of the website */
  /* STICK THE CONTENT TO THE HERE IMG??????
  DESKTOP DESKTOP DESKTOP view modert art 'hero'part of the website using grid  */
}
.modern-container .hero-container {
  display: block;
  margin-bottom: 2em;
}
.modern-container .hero-container .hero-mobile {
  height: 100%;
  width: 100%;
}
.modern-container .hero-container .hero-tablet, .modern-container .hero-container .hero-desktop {
  display: none;
}
.modern-container .hero-container .logo-light {
  display: none;
}
.modern-container .black-bg {
  display: none;
}
.modern-container .modern-content {
  margin-left: 1em;
  margin-right: 1em;
}
.modern-container .modern-content .logo-dark {
  margin-bottom: 2em;
}
.modern-container .modern-content .logo-dark img {
  width: 80%;
}
.modern-container .modern-content p {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .modern-container .hero-container {
    max-width: 60%;
  }
  .modern-container .hero-container .hero-mobile, .modern-container .hero-container .hero-desktop {
    display: none;
  }
  .modern-container .hero-container .hero-tablet {
    display: block;
    position: relative;
  }
  .modern-container .modern-content {
    position: absolute;
    top: 10em;
    left: 23.5em;
    width: 400px;
  }
  .modern-container .modern-content .logo-dark {
    margin-bottom: 2.5em;
  }
  .modern-container .modern-content p {
    margin-bottom: 2.5em;
  }
}
@media (min-width: 1440px) {
  .modern-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "black-bg hero-container";
    position: relative;
  }
  .modern-container .hero-container {
    position: relative;
  }
  .modern-container .hero-container .hero-tablet {
    display: none;
  }
  .modern-container .hero-container .hero-desktop {
    display: block;
  }
  .modern-container .hero-container .logo-light {
    display: block;
    position: absolute;
    top: 12em;
    width: 400px;
    left: -13.8em;
    z-index: 100;
  }
  .modern-container .hero-container .modern-content {
    position: absolute;
    top: 12em;
    left: 30em;
  }
  .modern-container .hero-container .modern-content .logo-dark {
    display: none;
  }
  .modern-container .black-bg {
    display: block;
    height: 800px;
    background-color: #151515;
  }
}

.main__wrapper {
  display: grid;
  grid-template-columns: 44% 12% 44%;
  grid-template-rows: auto;
  grid-template-areas: "image-one image-one image-one" "content-day content-day content-day" "image-two image-two image-two" "image-three image-three image-three" "content-come content-come content-come";
  margin-bottom: 6em;
}
@media (min-width: 768px) {
  .main__wrapper {
    grid-template-areas: "content-day image-one image-one" "image-two image-two image-three" "image-two image-two content-come";
    grid-template-rows: auto auto 3fr;
    margin-bottom: 6em;
    gap: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (min-width: 1440px) {
  .main__wrapper {
    gap: 1.1em;
    margin-left: 6em;
    margin-right: 6em;
  }
}
.main__wrapper .image__container {
  display: block;
  width: 100%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main__wrapper .image__container {
    padding: 0;
  }
}
.main__wrapper .image__mobile {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__wrapper .image__tablet, .main__wrapper .image__desktop {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
@media (min-width: 768px) {
  .main__wrapper .image__mobile, .main__wrapper .image__desktop {
    display: none;
  }
  .main__wrapper .image__tablet {
    display: block;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main__wrapper .image__mobile, .main__wrapper .image__tablet {
    display: none;
  }
  .main__wrapper .image__desktop {
    display: block;
  }
}
.main__wrapper .grid__content {
  padding-left: 1em;
  padding-right: 1em;
}
.main__wrapper .grid__content h2 {
  margin-bottom: 0.2em;
}
.main__wrapper .content2 {
  grid-area: content-come;
  background-color: #151515;
  color: white;
  margin-right: 1em;
  margin-left: 1em;
}
.main__wrapper .content2 h2 {
  margin-top: 0.8em;
}
.main__wrapper .content2 p {
  color: white;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  .main__wrapper .content2 {
    margin-left: 0;
    padding-top: 1em;
  }
}
@media (min-width: 1440px) {
  .main__wrapper .content2 h2 {
    width: 50%;
  }
}
.main__wrapper .image1 {
  grid-area: image-one;
}
@media (min-width: 768px) {
  .main__wrapper .image1 {
    padding-right: 1em;
  }
}
.main__wrapper .content1 {
  grid-area: content-day;
}
@media (min-width: 768px) {
  .main__wrapper .content1 {
    margin-top: 1em;
    padding-top: 1em;
  }
}
@media (min-width: 1440px) {
  .main__wrapper .content1 h2 {
    width: 50%;
  }
  .main__wrapper .content1 p {
    width: 60%;
  }
}
.main__wrapper .image2 {
  grid-area: image-two;
}
.main__wrapper .image3 {
  grid-area: image-three;
}
@media (min-width: 768px) {
  .main__wrapper .image3 {
    padding-right: 1em;
  }
}

.footer {
  background-color: #151515;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}
.footer .footer-content {
  padding: 3em 1.5em;
}
.footer .footer-content h4 {
  color: white;
  line-height: 0.9em;
}
.footer .footer-content p {
  margin-top: 1.5em;
  color: white;
}
.footer .socials {
  padding-left: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
  }
  .footer .footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;
  }
  .footer .footer-content h4 {
    width: 30%;
  }
  .footer .footer-content p {
    width: 40%;
    padding-top: 0;
    margin-top: 0;
  }
  .footer .socials {
    margin-top: 4em;
    margin-right: 2em;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-left: 5em;
    padding-right: 5em;
    border: 1px solid yellow;
  }
}

.location-site {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.location-site .map__container {
  position: relative;
  background-color: yellow;
  padding: 0;
  width: 100%;
  display: block;
}
.location-site .map__container .button-back__wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 375px) {
  .location-site .map__container .button-back__wrapper {
    left: 2em;
  }
}
@media (min-width: 768px) {
  .location-site .map__container .button-back__wrapper {
    left: 6em;
  }
}
.location-site .map__container .arrow-back-container {
  width: 30%;
  background-color: #d5966C;
  background-image: url(../assets/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 0.4em;
  background-position: center;
}
.location-site .map__container .button-back-text {
  width: 100%;
  height: 72px;
  background-color: #151515;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 0.9em;
  padding-left: 1em;
  align-items: center;
}
.location-site .map__container .maps {
  width: 100%;
  height: auto;
  background-color: red;
}
.location-site .map__container .maps .map {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.location-site .map__container .maps .map__mobile {
  display: block;
}
@media (min-width: 375px) {
  .location-site .map__container .maps .map__mobile {
    display: none;
  }
}
.location-site .map__container .maps .map__tablet {
  display: none;
}
@media (min-width: 375px) {
  .location-site .map__container .maps .map__tablet {
    display: block;
  }
}
@media (min-width: 768px) {
  .location-site .map__container .maps .map__tablet {
    display: none;
  }
}
.location-site .map__container .maps .map__desktop {
  display: none;
}
@media (min-width: 768px) {
  .location-site .map__container .maps .map__desktop {
    display: block;
  }
}
.location-site .location__container {
  background-color: #151515;
  color: white;
  padding-top: 1.5em;
  padding-left: 0.8em;
  padding-bottom: 1.8em;
  padding-right: 0.8em;
}
@media (min-width: 768px) {
  .location-site .location__container {
    display: flex;
    gap: 4em;
    padding-left: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 2em;
  }
}
@media (min-width: 1440px) {
  .location-site .location__container {
    padding-right: 5em;
  }
}
@media (min-width: 768px) {
  .location-site .location__container .location__header {
    width: 10em;
  }
}
@media (min-width: 1440px) {
  .location-site .location__container .location__header {
    margin-right: 10em;
    margin-left: 4em;
  }
}
.location-site .location__container .location__header h1 {
  text-transform: uppercase;
  font-weight: 1000;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .location-site .location__container .location__header h1 {
    font-size: 2em;
    line-height: 0.9em;
  }
}
@media (min-width: 1440px) {
  .location-site .location__container .location__header h1 {
    font-size: 3em;
  }
}
@media (min-width: 1440px) {
  .location-site .location__container .location__content {
    width: 40%;
    margin-left: 5em;
  }
}
.location-site .location__container .location__content h2 {
  color: #d5966C;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.8em;
}
.location-site .location__container .location__content .address {
  margin-bottom: 0.5em;
}
.location-site .location__container .location__content p {
  color: white;
  line-height: 1.5em;
}
.location-site .descr__container {
  background-color: #d5966C;
  padding-top: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 2em;
}
@media (min-width: 768px) {
  .location-site .descr__container {
    display: flex;
    gap: 4em;
    padding-left: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 2em;
  }
}
.location-site .descr__container .descr__header {
  width: 15em;
}
@media (min-width: 1440px) {
  .location-site .descr__container .descr__header {
    width: 15em;
    margin-left: 4em;
  }
}
.location-site .descr__container .descr__header h3 {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.8em;
}
@media (min-width: 768px) {
  .location-site .descr__container .descr__header h3 {
    font-size: 1.2em;
    line-height: 0.9em;
  }
}
@media (min-width: 1440px) {
  .location-site .descr__container .descr__header h3 {
    font-size: 1.5em;
    width: 60%;
  }
}
@media (min-width: 768px) {
  .location-site .descr__container .descr__content {
    padding-top: 0.5em;
    padding-right: 5em;
  }
}
@media (min-width: 1440px) {
  .location-site .descr__container .descr__content {
    width: 40%;
    margin-right: 15em;
  }
}
.location-site .descr__container .descr__socials {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 2em;
  margin-top: 1.8em;
}
@media (min-width: 768px) {
  .location-site .descr__container .descr__socials {
    padding-right: 2em;
    margin-top: 0.5em;
    border: 2px solid red;
  }
}/*# sourceMappingURL=style.css.map */